.login{
    width: 100vw;
    height: 100vh;
    background-color: #d4d9e7;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginWrapper{
        width: 80%;
        display: flex;

        .loginLeft{
            padding-bottom: 400px;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 20px;
            justify-content: center;

            .loginimg{
                width: 60%;
                max-height: 250px;
                object-fit: contain;
                margin-top: 350px;
                margin-left: 10px;
            }

            .loginLogo{
                font-size: 60px;
                font-weight: 800;
                color: #04387d;
                margin-bottom: 10px;

                .logo{
                    color: red;
                    margin-left: 10px;
                    font-family: 'Satisfy', cursive;
                    font-size: 70px;
                }
            }

            .loginDesc{
                font-size: 28px;
                padding-bottom: 70px;
                
                font-family: 'Pacifico', cursive;
            }
        }

        .loginRight{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 20px;
            justify-content: center;
              
                    .bottomBox{
                        height: 350px;
                        padding: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: 10px;
                        background-color: white;

                        .loginInput{
                            height: 50px;
                            border-radius: 10px;
                            padding-left: 20px;
                            font-size: 18px;
                            border: 1px solid gray;

                            &:focus{
                                outline: none;
                            }
                        }

                        .loginButton{
                            height: 50px;
                            width: 100%;
                            background-color: #034295;
                            color: white;
                            font-weight: 500;
                            font-size: 23px;
                            border-radius: 10px;
                            border: none;
                            margin-bottom: 5px;
                            cursor: pointer;

                            &:hover{
                                background-color: #011836;
                            }
                        }

                        .loginRegisterButton{
                            height: 50px;
                            width: 100%;
                            background-color: #42b72a;
                            color: white;
                            font-weight: 500;
                            font-size: 23px;
                            border-radius: 10px;
                            border: none;
                            margin-bottom: 5px;
                            cursor: pointer;

                            &:hover{
                                background-color: #1e5917;
                            }

                            
                        }

                        .error{
                            color: red;
                        }

                    }
                
            

        }
    }
}