.register{
    width: 100vw;
    height: 100vh;
    background-color: #d4d9e7;
    display: flex;
    align-items: center;
    justify-content: center;

    .registerWrapper{
        width: 80%;
        display: flex;

        .registerLeft{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 20px;
            justify-content: center;
            padding-bottom: 500px;

            .logoimg{
                width: 70%;
                max-height: 300px;
                object-fit: contain;
                margin-top: 350px;
                margin-left: 100px;
                
            }

            .registerLogo{
                font-size: 60px;
                font-weight: 800;
                color: #04387d;
                margin-bottom: 10px;


                .span{
                    color: red;
                    margin-left: 10px;
                    font-family: 'Satisfy', cursive;
                    font-size: 70px;
                }
            }

            .registerDesc{
                font-size: 28px;
                padding-bottom: 70px;
                
                font-family: 'Pacifico', cursive;
            }
        }

        .registerRight{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 20px;
            justify-content: center;

            .registerBox{
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 10px;
                width: 100%;

                .top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 30px;
                    .profileImg{
                        display: flex;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .formInput{
                        display: flex;
                        align-items: center;

                        label{
                            display: flex;
                            align-items: center;

                            .icon{
                                font-size: 34px;
                                color: #333;
                                margin-left: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .bottom{
                    .bottomBox{
                        height: 450px;
                        padding: 5px 40px 10px 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: 10px;
                        background-color: white;

                        .registerInput{
                            height: 50px;
                            border-radius: 10px;
                            padding-left: 20px;
                            font-size: 18px;
                            border: 1px solid gray;

                            &:focus{
                                outline: none;
                            }
                        }

                        .registerButton{
                            height: 50px;
                            width: 100%;
                            background-color: #034295;
                            color: white;
                            font-weight: 500;
                            font-size: 23px;
                            border-radius: 10px;
                            border: none;
                            margin-bottom: 5px;
                            cursor: pointer;

                            &:hover{
                                background-color: #011836;
                            }
                        }

                        .loginRegisterButton{
                            height: 50px;
                            width: 100%;
                            background-color: #42b72a;
                            color: white;
                            font-weight: 500;
                            font-size: 23px;
                            border-radius: 10px;
                            border: none;
                            margin-bottom: 5px;
                            cursor: pointer;

                            &:hover{
                                background-color: #1e5917;
                            }

                            .error{
                                color: red;
                            }
                        }
                        .error{
                            color: red;
                        }

                    }
                }
            }

        }
    }
}